:root {
    --blanco: #fff;
    --negro: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

header {
    background: linear-gradient(to right, rgba(128,0,127,0.54), rgba(255,193,203,0.55)), url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    min-height: 350px;
}

header nav {
    padding: 10px;
}

header nav a {
    padding: 1vw;
    text-decoration: none;
    color: var(--blanco);
}

header nav a:hover {
    text-decoration:underline;
}

header hgroup h1 {
    margin-top: 70px;
    color: var(--blanco);
    font-weight: 600;
    font-size: 3em;
}

header hgroup h2 {
    color: var(--blanco);
    font-weight: 300;
    font-size: 2em;
}

.wave {
    height: 300px;
}

main {
    margin: auto;
    width: 80%;
    text-align: center;
}

main h2 {
    margin-top: 30px;
}

.principal, .principal picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.principal picture img {
    width: 90%;
}

.articulos {
    text-align: justify;
}

.articulos article {
    padding: 20px;
}

.articulos article p {
    line-height: 25px;
}

main span {
    font-weight: bolder;
    color: var(--blanco);
    background-color: rgb(200,66,217);
    padding: 1px 6px;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

.galeria {
    display:block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.galeria {
    overflow: hidden;
}

.galeria picture {
    width: 33%;
    float: left;
    height: 370px;
    padding: 8px 10px;
}

.galeria picture img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

footer {
    background-color: rgba(0, 0, 0, 0.87);
    color: var(--blanco);
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}
